<html>

<head>

    <!-- 문자 인코딩 및 화면 크기 설정 -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- jQuery 및 toastr 라이브러리를 불러옵니다 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

    <!-- GmarketSansMedium 폰트를 외부에서 불러오는 스타일 시트 -->
    <style>
        @font-face {
            font-family: 'GmarketSansMedium';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        html > body {
            font-family: "GmarketSansMedium";
            text-underline-position: under;
        }
    </style>

    <script>
        toastr.options = {
            closeButton: true, // 토스트 메시지에 닫기 버튼 표시
            debug: false, // 디버깅 모드 활성화하면 토스트 메시지에 대한 디버그 정보 출력
            newestOnTop: true, // 최신 메시지 맨 위 표시
            progressBar: true, // 진행 표시 줄을 통해 메시지의 시가이 얼마나 남았는지르 보여줌
            positionClass: "toast-top-right", // 토스트 메시지가 나탈 위치 지정
            preventDuplicates: false, // 중복된 메시지 방지
            onclick: null, // 메시지 클릭했을 때 실행할 함수 지정
            showDuration: "300", // 나타나는데 걸리는 시간 지정
            hideDuration: "1000", // 사라지는데 걸리는 시간
            timeOut: "5000", // 화면에 표시되는 시간
            extendedTimeOut: "1000", // 사용자가 마우스를 올려놓은 경우 토스트 메시지가 화면에 유지되는 시간
            showEasing: "swing", // 나타날때 사용되는 애니메이션효과
            hideEasing: "linear", // 사라질때 사용되는 애니메이션효과
            showMethod: "fadeIn", // 나타나탈 때 사용되는 애니메이션 방법
            hideMethod: "fadeOut" // 사라질때 사요외는 애니메이션 방법
        };

        function toastNotice(msg) {
            toastr["success"](msg, "알림");
        }

        function toastWarning(msg) {
            toastr["warning"](msg, "알림");
        }
    </script>


</head>

<body>

<!-- DaisyUI 스타일 시트와 Tailwind CSS를 불러오는 스크립트 -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>
<header>
    <a href="/" class="btn  btn-link">홈</a>
    <a href="/member/me" th:if="${@rq.login}" class="btn  btn-link">내정보</a>
    <a href="/instaMember/connect" th:if="${@rq.login}" class="btn btn-link">본인의 인스타그램 정보 입력</a>
    <a href="/member/login" th:if="${@rq.logout}" class="btn  btn-link">로그인</a>
    <a href="/member/join" th:if="${@rq.logout}" class="btn  btn-link">회원가입</a>
    <a href="javascript:;" th:if="${@rq.login}" class="btn  btn-link" onclick="$(this).next().submit();">로그아웃</a>
    <form hidden  th:if="${@rq.login}" th:action="|/member/logout|" method="POST"></form>
    <span th:if="${@rq.login}" th:text="|${@rq.member.username}님 환영합니다.|"></span>
</header>
<main layout:fragment="main"></main>

<!--onclick안에 자바스크립트 코드가 포함되어있다.-->
<!--타임리프에서는 is와 get을 생략해서 사용이 가능하다-->
<!--rq는 편하게 쓸수는 있지만 login이 되지 않으면 member는 쓸수는 없다-->

<script th:inline="javascript">
    //  타임리프 문법을 사용하여 파라미터를 가져옴 (파라미터, ? 뒤에 입력된 매개변수들)
    const params = /*[[ ${param} ]]*/ null;

    // 메시지가 있으면 해당 toastNotice로 알림
    if (params.msg) {
        toastNotice(params.msg[0]);
    }

    // 에러 메시지가 있으면 해당 메시지를 toastWarning로 알림
    if (params.errorMsg) {
        toastWarning(params.errorMsg[0]);
    }

   // history.back 에 의해서 돌아온 경우에 실행됨
    // 평소에도 실행됨
    $(window).bind("pageshow", function (event) {
        const localStorageKeyAboutHistoryBackErrorMsg = "historyBackErrorMsg___" + location.href;
    // 에러메시지와 관련된 로컬 스토리지 키 생성

        if ( localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg) ) {
            toastWarning(localStorage.getItem(localStorageKeyAboutHistoryBackErrorMsg));
            localStorage.removeItem(localStorageKeyAboutHistoryBackErrorMsg);
        }
        // 로컬 스토리지에서 에러 메시지를 가져와 toastWarning으로 알림하고, 해당 메시지를 제거
    });
</script>


</body>

</html>