<html layout:decorate="~{usr/layout/layout.html}">

<head>

</head>

<body>

<main layout:fragment="main">
<script>
    function loginForm__submit(form){

        form.username.value = form.username.value.trim();

        if(form.username.value.length == 0){
            toastWarning('아이디를 입력하세요');
            form.username.focus();
            return ;
        }

        if(form.username.value.length < 4){
            toastWarning('아이디를 4자이상 입력하세요');
            form.username.focus();
            return ;
        }

        if(form.password.value.length == 0){
            toastWarning('password 입력하세요');
            form.password.focus();
            return ;
        }

        if(form.password.value.length < 4){
            toastWarning('password 4자이상 입력하세요');
            form.password.focus();
            return ;
        }
    }

</script>

<form th:action method="POST" class="p-10 flex flex-col gap-4" onsubmit="loginForm__submit(this); return false;">
    <div>
        <input type="text" name="username" placeholder="아이디" maxlength="30" class="input input-bordered">
    </div>
    <div>
        <input type="password" name="password" placeholder="비밀번호" maxlength="30" class="input input-bordered">
    </div>
    <div>
        <input type="submit" value="회원가입" class="btn btn-primary">
    </div>
</form>
</main>

</body>
<!--function 키워드를 사용하여 함수를 정의합니다.
loginForm__submit은 함수의 이름이며, 이는 특정한 동작을 수행하는 함수의 이름을 나타냅니다.
괄호 안의 form은 함수에 전달된 인자입니다.-->
</html>
